/* !!!!!!!!!!! font "Roboto Slab" !!!!!!!!!!! */

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("assets/fonts/RobotoSlab-Regular.woff2") format("woff2"),
      url("assets/fonts/RobotoSlab-Regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("assets/fonts/RobotoSlab-Medium.woff2") format("woff2"),
      url("assets/fonts/RobotoSlab-Medium.woff") format("woff");
}

/* !!!!!!!!!!! font "Roboto Mono" !!!!!!!!!!! */

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("assets/fonts/RobotoMono-Medium.woff2") format("woff2"),
      url("assets/fonts/RobotoMono-Medium.woff") format("woff");
}

/* !!!!!!!!!!!!!!!! page style !!!!!!!!!!!!!!!! */

html {
  scroll-behavior: smooth;
}

.body-page {
  margin: 0;
  background-image: linear-gradient(
    to right,
    #093737 50%,
    #18232B 50%
  );
  font-family: "Roboto Slab", "Pridi Light", serif;
}

/* !!!!!!!!!!!!!!!!!! header !!!!!!!!!!!!!!!!!! */

.header {
  display: flex;
  justify-content: center;
}

.header-photo-wrapper {
  height: 615px;
}

/* !!!!!!!!!!!!!! Name and menu !!!!!!!!!!!!!! */

.header-container {
  width: 883px;
  background: url(assets/images/BG-Header.jpg) top right no-repeat;
  font-family: "Roboto Slab", "Pridi Light", serif;
}

.header-name {
  margin-top: 112px;
  margin-left: 100px;
  margin-bottom: 0;
  white-space: pre-wrap;
  font-size: 80px;
  font-weight: 400;
  line-height: 85px;
  color: #E1E0D6;
}

.header-dev {
  margin-left: 100px;
  white-space: pre-wrap;
  font-size: 26px;
  font-weight: 400;
  color: #E1E0D6;
}

/* !!!!!!!!!!!!!!!!!! menu !!!!!!!!!!!!!!!!!! */

.header-menu {
  margin-top: 50px;
  margin-left: auto;
  margin-right: 35px;
  padding: 0;
  width: 480px;
  height: 185px;
}

.ul-header-menu {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 4px;
}

.menu-item {
  margin-bottom: -20px;
  display: flex;
  width: 91px;
  height: 105px;
  background-image: url(assets/icons/Menu-it.png);
  list-style-type: none;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.menu-item:hover {
  background-image: url(assets/icons/Menu-it-focus.png);
  cursor: pointer;
}

.menu-item-link {
  padding: 30px;
  text-decoration: none;
  font-size: 15px;
  color: #E1E0D6;
}

.menu-item-link:hover {
  color: #DF621B;
}

.menu-code {
  margin-left: auto;
  margin-right: 9px;
}

.menu-experience {
  margin-left: 142px;
}

/* !!!!!!!!!!!!!!!!!!! main !!!!!!!!!!!!!!!!!!! */

.main {
  display: flex;
  justify-content: center;

}

.contacts-skills {
  width: 557px;
  background: #093737;
}

.about-others {
  width: 883px;
  background: #18232B;
}

/* !!!!!!!!!!!!!!!!!!! contacts !!!!!!!!!!!!!!!!!!! */

.contacts {
  margin-top: 87px;
  margin-left: 90px;
  width: 290px;
  height: 370px;
}

.contacts-header {
  position: relative;
  top: -357px;
  left: 84px;
  font-family: "Roboto Slab", "Pridi Light", serif;
  font-size: 50px;
  font-weight: 500;
  color: #DF621B;
}

.li-contacts {
  position: relative;
  top: -296px;
  left: 68px;
  margin-bottom: 15px;
  width: 178px;
  height: 42px;
  display: flex;
  align-items: center;
  list-style-type: none;
  cursor: pointer;
  font-family: "Roboto Slab", "Pridi Light", serif;
  font-size: 24px;
  font-weight: 400;
  color: #DF621B;
}

.li-contacts:hover {
  color: #E1E0D6;
}

.discord-ico,
.tg-ico,
.email-ico {
  display: inline-block;
  z-index: 1;
}

.text-discord {
  display: inline-block;
  position: absolute;
  right: 21px;
}

.discord-ico-hover{
  position: absolute;
  left: 1px;
  z-index: 0;
}

.li-contacts:hover .discord-ico-hover{
  position: absolute;
  left: 0px;
  z-index: 2;
}

.text-tg {
  display: inline-block;
  position: absolute;
  right: -1px;
}

.tg-ico-hover {
  position: relative;
  left: -47px;
  z-index: 0;
}

.li-contacts:hover .tg-ico-hover{
  position: absolute;
  left: 0px;
  z-index: 2;
}

.text-email {
  display: inline-block;
  position: absolute;
  right: 29px;
}

.email-ico-hover {
  position: relative;
  left: -52px;
  z-index: 0;
}

.li-contacts:hover .email-ico-hover{
  position: absolute;
  left: 0px;
  z-index: 2;
}

/* !!!!!!!!!!!!!!!!!!! skills !!!!!!!!!!!!!!!!!!! */

.skills {
  margin-top: 100px;
  margin-left: 170px;
  width: 264px;
  height: 492px;
}

.skills-header {
  position: relative;
  top: -472px;
  left: 92px;
  font-family: "Roboto Slab", "Pridi Light", serif;
  font-size: 50px;
  font-weight: 500;
  color: #DF621B;
}

.ul-skills {
  position: relative;
  top: -410px;
  left: 128px;
  width: 98px;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.li-skills {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 43px;
  list-style-type: none;
}

.html5-logo {
  margin-right: 19px;
}

.git-logo {
  margin-right: 12px;
}

.about-others {
  width: 883px;
  background: #18232B;
}

/* !!!!!!!!!!!!!!!!!!! about me !!!!!!!!!!!!!!!!!!! */

.about {
  position: relative;
}

.about-ico {
  position: relative;
  top: 87px;
  left: 87px;
}

.about-header {
  margin-left: 169px;
  margin-top: -33px;
  font-family: "Roboto Slab", "Pridi Light", serif;
  font-size: 50px;
  font-weight: 500;
  color: #DF621B;
}

.about-paragraph-first,
.about-paragraph-second {
  margin-top: 64px;
  margin-left: 110px;
  line-height: 35px;
  white-space: pre-wrap;
  font-size: 20px;
  color: #E4BC2B;
}

.about-paragraph-second {
  margin-top: -72px;
}

.link-about-code-img {
  display: inline-block;
  position: absolute;
  top: 124px;
  left: 224px;
}

/* !!!!!!!!!!!!!!!!!!! code !!!!!!!!!!!!!!!!!!! */














